@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.nav-item {
    align-items: center;
}

.nav-item-title {
    display:flex;
    flex-direction: column;
}

.nav-item-title span {
    line-height: initial;
}

.rainbow-color {
    animation: rainbow-background 1s infinite;
}

@keyframes rainbow-background {
    0% {
        background: #f00;
    }

    10% {
        background: #ff7f00;
    }

    20% {
        background: #ff0;
    }

    30% {
        background: #0f0;
    }

    40% {
        background: #00f;
    }

    50% {
        background: #4b0082;
    }

    60% {
        background: #9400d3
    }

    70% {
        background: #4b0082;
    }

    80% {
        background: #00f;
    }

    90% {
        background: #0f0;
    }

    100% {
        background: #ff0;
    }

}

.login-window {
    width: 500px;
    height: auto;
    margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
