@page "/"
@namespace AssignmentServer.BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>2021 정보보호 실습시스템</title>
    <base href="~/" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/axios/dist/axios.min.js"></script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <span class="oi oi-warning"></span> 
        <span class="mx-2">조교가 시스템을 이상하게 만든 탓에 클라이언트가 뻗었읍니다. 미안하지만 새로고침 해주셔요. 계속 이러면 얼른 연락 주시구요.</span>
    </div>

    <script src="~/_framework/blazor.server.js"></script>
</body>
</html>