@page "/"

<h1>정보보호에 어서오세요!</h1>

<p>2021학년도 가을학기 충남대학교 정보보호과목 실습 관리 시스템입니다.</p>

<p>로그인 정보가 필요한 경우 조교에게 문의해주세요.</p>

<div class="alert alert-danger mb-3">
    <h2>긴급공지</h2>
    <p>서버 컨트롤 오류로 1주차 과제 수행 내역이 전부 롤백되었습니다.</p>
    <p>처음 규칙대로 로그인 하되 비밀번호를 다시 변경하여주시기 바랍니다.</p>
    <p>대신 1주차 과제의 제출기한은 무제한으로 하겠습니다. 불편을 끼쳐드려 죄송합니다.</p>
</div>