@page "/notice/{id}"

<div class="mb-3">
    <NavLink class="text-decoration-none" href="/notice">
        <span class="oi oi-arrow-left"></span>
        돌아가기
    </NavLink>
</div>

<div class="notice-container p-2">
    <p class="text-secondary mb-2">@Notice.Timestamp</p>
    <h2 class="text-primary mb-3">@Notice.Title</h2>

    <div class="notice-detail-container">
        @((MarkupString) Notice.Detail)
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public NoticeData Notice { get; set; }

    protected override Task OnInitializedAsync()
    {
        Notice = new NoticeData(Id);

        return base.OnInitializedAsync();
    }
}