@inherits App_AuthBase

@if (Completed is null)
{
    <div class="alert alert-info">
        비밀번호 변경 여부에 따라 자동으로 채점되는 과제입니다. 잠시만 기다려주세요...
    </div>
}
else if (Completed == false)
{
    <div class="alert alert-danger">
        비밀번호 변경이 확인되지 않았습니다!!
    </div>
}
else
{
    <div class="alert alert-success">
        비밀번호 변경이 확인되었습니다. 과제가 제출되었습니다!
    </div>
}

@code {
    public bool? Completed;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            Completed = CurrentStudent.PasswordChanged;
            var submitInfo = GetSubmitInfo<StudentSubmitRaw>();

            if (Completed == true && submitInfo is not null)
                SubmitAssignment(new StudentSubmitRaw
                {
                    AssignmentId = AssignmentId, 
                    ModuleId = "App_ResetPassword",
                    Score = 10,
                    Timestamp = new List<DateTime>() { DateTime.Now }
                });

            StateHasChanged();
        }
    }
}
